name: Metrics
on:
  workflow_dispatch:
  schedule: [{cron: "0 0 * * *"}]
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          config_timezone: America/Los_Angeles
          plugin_languages: yes
          plugin_languages_details: yes
          plugin_activity: yes
          plugin_introduction: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_habits_trim: yes
          plugin_lines: no # Causes errors when trying to get the amount of contributors to a repositiory if there is no contributors.
          plugin_gists: yes
          plugin_habits: yes
          verify: yes
